.entry-list
{
	margin: 20px 20px;
}

.entry
{
	padding: 5px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.3s ease-out;
}

.entry:hover
{
	box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.entry-text
{
	text-transform: capitalize;
}

.negative-entry
{
	margin-left: 1rem !important;
}

.negative-entry .value
{
	color: #f44336;
}

.positive-entry
{
	margin-right: 1rem !important;
}

.positive-entry .value
{
	color: #4caf50;
}
