.entry-list
{
	margin: 20px 20px;
}

.entry
{
	padding: 5px;
}

.entry-text
{
	text-transform: capitalize;
}

.negative-entry
{
	margin-left: 1rem !important;
}

.negative-entry .value
{
	color: #f44336;
}

.positive-entry
{
	margin-right: 1rem !important;
}

.positive-entry .value
{
	color: #4caf50;
}
